<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <label for="email">E-mail:</label>
        <input
          id="email"
          class="form-control"
          type="text"
          name="email"
          ngModel
          email
          #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter correct email!</span>

        <label for="subscription">Subscription:</label>
        <select
          id="subscription"
          class="form-control"
          name="subscription"
          ngModel
          required
        >
          <option value="basic" selected="selected">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option>
        </select>

        <label for="password">Password:</label>
        <input
          id="password"
          class="form-control"
          type="password"
          name="password"
          ngModel
          required
        >

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!form.valid"
        >Submit</button>
        <span class="help-block" *ngIf="!form.valid && form.touched">Form is invalid!</span>
      </form>
    </div>
  </div>
</div>
